# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env
.env.*

# VS Code
.vscode/

# JetBrains
.idea/

# macOS
.DS_Store

# Logs
*.log

# SQLite
*.db
*.sqlite3

# Distribution
build/
dist/
*.egg-info/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Bytecode
*.pyc

# Temporary files
*.tmp
*.bak